#addBookForm {
    display: none;
    border-style: solid;
    width: 35%;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-style: solid;

    margin: auto;
    margin-top: 50px;
}

th {
    height: 70px;
    background-color: #04AA6D;
    color: white;
}

tr:nth-child(even) {
    background-color: #dadada;
}

tr {
    text-align: center;
}