#addBookForm {
    display: none;
    border-style: solid;
    width: auto;
}

table {
    border-collapse: collapse;
    width: auto;
    border-style: solid;
}

th {
    height: 70px;
    background-color: #04AA6D;
    color: white;
}

tr:nth-child(even) {
    background-color: #dadada;
}